<header class="intro" style="padding-top:80px">
    <div class="intro-body">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="text-align:left">
                <p class="intro-text" style="vertical-align:bottom">Preguntas frecuentes <%= image_tag 'vapstick_smoke_white.png' %></p>
            </div>
		</div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="text-align:left">
				<div class="panel panel-default" style="opacity:0.7">
				  <div class="panel-body" style="font-size:16px; color:black; font-weight:bold">
				   	¿Que es Vapstick?
				  </div>
					<div class="panel-footer" style="font-size:16px; color:black">Vapstick es un vaporizador electrónico premium que viene en una amplia gama de sabores.
					<br /><br />
					Está elaborado en base a agua, así que no libera humo, no hay combustión, y no produce cenizas.
					<br /><br />
					¡Solo vapor de agua! Gracias a esta nueva tecnología, puedes usar tu Vapstick en cualquier lugar, incluso donde está prohibido fumar. Sin necesidad de salir, de pedir permiso, de preocuparte por tu salud o por la de los demás.<br /><br />
					Vapstick no contamina, no contiene nicotina, arsénico, ni alquitrán.<br /><br />
					<%= image_tag 'vapstick_luces.jpg', :class => 'img-responsive img-thumbnail', style: 'display:inline' %>
					<br /><br />
					Un producto revolucionario y elaborado bajo los mejores estandares de calidad internacional que llegó a Chile para quedarse. Apto para todas las personas que quieren disfrutar la experiencia del sabor!
					<br /><br />
					</div>
				</div>
				<div class="panel panel-default" style="opacity:0.7">
				  <div class="panel-body" style="font-size:16px; color:black; font-weight:bold">
				   	¿Cómo funciona?
				  </div>
					<div class="panel-footer" style="font-size:16px; color:black">
					Vapstick viene listo para usar. No requiere carga, recarga, ni baterias.<br /><br />
					Al inhalar por la boquilla, el flujo de aire es detectado por un sensor que prende una luz en el extremo opuesto del vaporizador. Al mismo tiempo, se activa un pequeño motor eléctrico que calienta el gel natural que contiene el sabor de tu preferencia. Así se genera el vapor que pasa por un atomizador, para después ser inhalado.
					Sin poner en riesgo tu salud.<br /><br />
					<%= image_tag 'vapstick_funciona.jpg', :class => 'img-responsive img-thumbnail', style: 'display:inline' %>
					<br /><br />
					Cuando te quedas sin vapor, la luz LED se enciende y apaga diez veces, avisando que necesitas uno nuevo.
					<br /><br />
					<%= image_tag 'certificacion_vapstick.png', :class => 'img-responsive img-thumbnail', style: 'display:inline' %>
					<br /><br />
					</div>
				</div>
            </div>
        </div>
    </div>
</header>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contáctanos</h2>
            <p>¿Te gustaría ser representante de ventas? ¿Quieres comprar por volumen?</p>
            <p><a href="mailto:contacto@vapstick.com.co">contacto@vapstick.com.co</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/vapstick-colombia" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://facebook.com/vapstick-colombia" target="_blank" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-thumbs-up"></i> <span class="network-name">Facebook</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/vapstick-colombia" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" style="margin-top:30px;">
        <div class="col-lg-12" style="text-align:center;">
			<%= image_tag 'logo.png', :class => 'img-responsive', style: 'display:inline' %>
		</div>
	</div>
</section>