
<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Vapstick</h1>
                    <p class="intro-text" style="vertical-align:bottom">Feel the air <%= image_tag 'vapstick_smoke_white.png' %></p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="glyphicon glyphicon-forward"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section">
    <div class="row">
        <div class="col-lg-5">
            <h2>Vapstick Pro</h2>
            <p>Innovación y tecnología se unen para crear un producto único que te entregará una sensación inigualable.</p>
            <p>Sin Nicotina, alquitrán, tabaco, ni arsénico, sólo agua y sabores. ¡Todos pueden Vapear!</p>
			<p>Son 6 increíbles sabores para disfrutar con libertar, sin contaminar.</p>
        </div>
		<div class="col-lg-2">
			<%= image_tag 'usando_vapstick.jpg', style: "width:600px", :class => "img-thumbnail" %>
		</div>

		<div class="col-lg-5">
			<%= image_tag 'vapstick_products.png', style: "width:600px", :class => "img-thumbnail" %>
		</div>
    </div>
</section>

<section id="video" class="text-center" style="border-top:3px solid white">
	<div class="video-section">
		<iframe src="//player.vimeo.com/video/88350617" width="900" height="521" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
</section>

<!-- Download Section -->
<section id="flavours" class="content-section" style="border-bottom:3px solid white; border-top:3px solid white">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-12">
                <h3>6 sabores para disfrutar</h3>
            </div>
        </div>
		<hr />
        <div class="container product_description">
			<div class="col-lg-4">
				<%= image_tag 'vapstick_capuccino.jpg', :class => "img-thumbnail" %>
			</div>
            <div class="col-lg-8">
                <h3 style="color:#d87645">Capuccino</h3>
                <p>La más fina selección en sabor; Capuccino es verdaderamente sorprendente.
				Un sabor intenso a café, con algunos toques de crema, ideal para dias más fríos y para cobijarse del invierno.
				Definitivamente un favorito de nuestros consumidores. Disfrútalo y vapea donde quieras el mejor sabor a café!</p>
            </div>
		</div>
		<hr />
		<div class="container product_description">
            <div class="col-lg-8">
                <h3 style="color:#ac2222">Tropical</h3>
                <p>Lo mejor de caribe, para que vibres con su sabor!
				Tropical es una mezcla de sabores frescos y frutales con un exquisito toue cítrico.
				Uno de los más solicitados, por hombres y mujeres.
				Vaporiza donde quieras, recuerda que no hay humo, solo vapor tropical!</p>
            </div>
			<div class="col-lg-4">
				<%= image_tag 'vapstick_tropical.jpg', :class => "img-thumbnail" %>
			</div>
		</div>
		<hr />
		<div class="container product_description">
			<div class="col-lg-4">
				<%= image_tag 'vapstick_berries.jpg', :class => "img-thumbnail" %>
			</div>
            <div class="col-lg-8">
                <h3 style="color:#554c8f">Berries</h3>
                <p>Toda la profundidad, dulzor y acidez que ofrece esta variedad de frutas.
				Berries junta lo mejor de estos sabores y te lo trae en forma de vapor.
				Así puedes usarlo en cualquier lugar, sin molestar a nadie.
				Berries sólo para tí. Pruébalo: vapéa y verás!</p>
            </div>
		</div>
		<hr />
		<div class="container product_description">
            <div class="col-lg-8">
                <h3 style="color:#7e7f77">Cigar</h3>
                <p>La mejor opción para quienes buscan el clásico sabor a tabaco sin preocuparse por estar en un lugar cerrado.
				Recupera tu libertad, ahora puedes disfrutar de Cigar y su exquisito sabor a tabaco sin dañar tu salud, la de los demás y sin todos los aditivos químicos como alquitrán y arsénico. ¡Una excelente alternativa al cigarro!</p>
            </div>
			<div class="col-lg-4">
				<%= image_tag 'vapstick_cigar.jpg', :class => "img-thumbnail" %>
			</div>
		</div>
		<hr />
		<div class="container product_description">
			<div class="col-lg-4">
				<%= image_tag 'vapstick_mint.jpg', :class => "img-thumbnail" %>
			</div>
            <div class="col-lg-8">
                <h3 style="color:#48ae86">Mint</h3>
                <p>El sabor más fresco de todos! Excelente elección para los dias de verano.
				No existe nada más refrescante que el vapor de Mint...
				Y ahora, tampoco más sano! El sabor más intenso y duradero, favorito de muchos, lo recomendamos definitivamente!
				Vapéa donde quieras, es solo vapor de agua!</p>
            </div>
		</div>
		<hr />
		<div class="container product_description">
            <div class="col-lg-8">
                <h3 style="color:#d87645">Vainilla</h3>
                <p>El más dulce de los sabores ahora en tu vaporizador favorito.
				Lleva este clásico sabor Vanilla donde quieras con Vapstick.
				Sin baterías, recargas ni encendedores, listo para usar!</p>
            </div>
			<div class="col-lg-4">
				<%= image_tag 'vapstick_vainilla.jpg', :class => "img-thumbnail" %>
			</div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Start Bootstrap</h2>
            <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
            <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Map Section -->
<div id="map"></div>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; Your Website 2014</p>
    </div>
</footer>