<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="glyphicon glyphicon-forward"></i>
            </button>
			<%= link_to raw('<i class="glyphicon glyphicon-forward"></i>')+raw('<span class="light">Vapstick</span>'), root_path, :class => "navbar-brand page-scroll"%>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
					<%= link_to '¿Qué es?', root_path+'#about' %>
                </li>
                <li>
					<%= link_to 'Sabores', root_path+'#flavours' %>
                </li>
                <li>
					<%= link_to 'Puntos de Venta', root_path+'#points-of-sale' %>
                </li>
                <li>
					<%= link_to 'Preguntas Frecuentes', faq_path  %>
                </li>
                <li>
                    <%= link_to 'Compra Online', new_order_path %>
                </li>
                <li>
					<%= link_to 'Contacto', new_contact_path %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
	<%= bootstrap_flash %>
    <!-- /.container -->
</nav>